<app-headerv2></app-headerv2>

<main class="contenedor">
    <div class="contacto__titulo  centrar-texto">
        <h1>Contactanos</h1>
    </div>
    <div class="contacto">
        <form action="" class="formulario">
            <div class="input_data">
                <input type="text" name="nombre" id="nombre" placeholder="NOMBRE" required>
            </div>
            <div class="input_data">
                <input type="text" name="apellidos" id="apellidos" placeholder="APELLIDOS" required>
            </div>
            <div class="input_data">
                <input type="text" name="dni" id="dni" placeholder="DNI" required>
            </div>
            <div class="input_data">
                <input type="email" name="correo" id="correo" placeholder="CORREO" required>
            </div>
            <div class="input_data">
                <input type="tel" name="celular" id="celular" placeholder="CELULAR" required>
            </div>
            <div class="input__textarea">
                <textarea name="" id="" cols="30" rows="10" required></textarea>
            </div>
            <div class="input__condiciones">
                <input type="checkbox" name="" id="" required>
                <p>He leido  y acepto las <span> condiciones de tratamiento y datos personales</span> </p>
            </div>
            <div class="contacto__button">
                <input type="submit" value="Enviar" class="btn_form">
            </div>              
            
        </form>

        <div class="contacto__datos">
            <div class="contacto__imagen">
                <img src="img/llamando.jpg" alt="">
            </div>

            <div class="contacto__info">
                <div class="items">
                    <h2>Atención al cliente</h2>
                    <div class="item">
                        <div class="img">
                            <img src="img/telefono.png" alt="">
                        </div>                        
                        <p>993737069</p>
                    </div>
                    <div class="item">
                        <div class="img">
                            <img src="img/email.jpg" alt="">
                        </div>                        
                        <p>info@movitec.com</p>
                    </div>
                    <div class="item">
                        <div class="img">
                            <img src="img/logo whastapp.png" alt="">
                        </div>                        
                        <p>993737069</p>
                    </div>
                </div>
                <div class="direccion">
                    <h2>Nuestra Oficina</h2>
                    <div class="item__direccion">
                        <div class="img">
                            <img src="img/logo oficina.JPG" alt="">
                        </div>                        
                        <h4>OQUENDO- CALLAO</h4>
                        <P>APV. Las Praderas de Oquendo Mz F lote 17</P>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>