main {
    display: block;

    margin: 0;
    font-family: "Montserrat", sans-serif ;
    font-size: 1.6rem; 
    background-color: white;
    line-height: 2;

    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font-size: 62.5%; 
}

.contenedor{
    max-width: 70rem;
    width: 90%;
    margin: 0 auto;
    
}

h1,h2 {
    font-size: 2em;
    margin: 0.67em 0;
    font-family: var(--fuenteHeading);
    line-height: 0.5;
}

h1{
    font-size: 2.8rem;
    text-align: center;
    font-family: sans-serif;
    margin-top: 4%;
    margin-bottom: 4%;
}

h2{
    font-size: 2.2rem;
    font-family: "Montserrat", sans-serif;
}

img {
    border-style: none;
    width: 100%;
    border-style: none;
}

.mision h2, .vision h2{
    padding-top: 2rem;
}

@media(min-width:768px){
    .main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }

    .nosotros{
        width: 100%;            
        display: flexbox;
        align-items: center;
        margin-top: 0;
    }

    .mision{
        width: 100%;
        margin-top: -5rem;
        
    }
}

.nosotros{
    text-align: center;
    padding-bottom: 5rem;
    margin: 3rem 0;
    color: white;          
}

.mision{
    width: 100%;
    height: 11rem;
    padding-bottom: 2rem;
    background-color: rgb(0, 102, 255);
    border-radius: 2rem;
}

.vision{
    width: 100%;
    height: 11rem;
    margin-top: 2rem;
    background-color: deepskyblue;
    border-radius: 2rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1px;
    margin-inline-end: 0px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}
